@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.btn {
    background-color: #e7e7e7;
    border-color: black;
}

.lightCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: lightblue;
    padding: 30px;
    margin: 10px;
}

    .lightCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

td {
    padding: 0 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
th {
    background-color: #04AA6D;
    color: white;
}